<h2 class="display-5">Home</h2>
<hr />
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Videmus igitur ut
  conquiescere ne infantes quidem possint. Et quidem iure fortasse, sed tamen
  non gravissimum est testimonium multitudinis. Ut proverbia non nulla veriora
  sint quam vestra dogmata. Duo Reges: constructio interrete. Verum esto: verbum
  ipsum voluptatis non habet dignitatem, nec nos fortasse intellegimus. Si
  quidem, inquit, tollerem, sed relinquo. Quonam modo? Et nemo nimium beatus
  est; Traditur, inquit, ab Epicuro ratio neglegendi doloris.
</p>
